body {
    background-color: black;
    color: gold; 
    text-shadow: 2em;
    background-image: url("./images/background.png");
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}